/*ARTICLE*/

body {
  /*float: left;*/
}

article {
  width: 25%;
  border: 1px solid lightblue;
  float: left;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  float: left;
  }

.specs {
  font-weight: bold;
  line-height: 0em;
  }

#donut-type {
  text-align: justify;
  }

#availability {
  background-color: lightgray;
  color: yellow;
  line-height: 2em;
  text-align: center;
}

/*IMAGES*/

img {
  display: block;
  margin: 0px auto;
  height: 135px;
  width: 210px;
}

 /*SPECIAL BORDERS AND EFFECTS*/

article header h1{
  border: 1px dotted lightgray;
  /*padding: 0px;*/
  line-height: 3em;
}

header h1 {
  text-align: center;
}

.clearme {
  clear: left;
}