/*ARTICLE*/

body {
  background-color: #ff69b4;
}

article {
  width: 30%;
  border: 1px solid lightblue;
  background-color: white;
  float: left;
  display: inline-block;
  margin: 10px;
  float: left;
  }

.specs {
  text-indent: 10px;
  font-weight: bold;
  line-height: 0em;
  }

#donut-type {
  text-align: justify;
  margin: 0 5px 0 5px;
  }

#availability {
  background-color: darkgray;
  color: yellow;
  line-height: 2em;
  text-align: center;
}

/*IMAGES*/

img {
  display: block;
  margin: 0px auto;
  height: 135px;
  width: 210px;
}

 /*SPECIAL BORDERS AND EFFECTS*/

article header h1{
  border: 1px dotted lightgray;
  line-height: 3em;
}

header h1 {
  text-align: center;
}

header h2 {
  text-indent: 10px;
}

.clearme {
  clear: left;
}