/*ARTICLE*/

article {
  width: 25%;
  border: 1px solid lightblue;
  float: left;
  display: inline-block;
  /*margin-top: 1em;*/
  /*margin-bottom: 1em;*/
  padding: 10px;
  margin: 10px;
  line-height: 14px;
  }

#pricing {
  font-weight: bold;
  }

#donut-type {
  text-align: justify;
  }

#availability {
  background-color: lightgray;
  color: yellow;
}

/*IMAGES*/

img {
  display: block;
  margin: 0px auto;
  height: 135px;
  width: 210px;
}

 /*SPECIAL BORDERS AND EFFECTS*/

article header h1{
  border: 1px dotted lightgray;
}

header h1 {
  text-align: center;
}
